body{
    background-color: #DEB887;
    margin: 0 auto;
    border: 4px solid #947853;
    padding: 10px 10px 10px 10px;
    font-family: sans-serif;
}

#inicio{
    display: none;
    min-height: 100vh;
}

#iniciar{
    display: flex;
    flex-direction: column;
    justify-content: center;
    min-height: 100vh;
}

.container-logo{

    display: flex;
    align-items: center;
    justify-content: center;
    
     animation: aparecer 2s ;
}

#logo{
    display: flex;
    border-radius: 300px;
   border: 4px solid #8B4513;
   margin-top: 60px;
   width: 250px;

}

 @keyframes aparecer{

   0%{
       
       opacity: 0%;
     }

     50%{
        
        opacity: 50%;
     }

     100%{
        
        opacity: 100%;
     }
 }




#botao{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
    transition: 1s;
}

#botao:hover{
    transform: translateY(-10px);
    transition: 1s;
}

#slogan{
    display: flex;
    color: #6F4E37;
    font-size: 25px;
    margin-top: 90px;
    justify-content: center;
}

.titulo{
    color: #8B4513;
    background: white;
    border-radius: 50px;
    font-family: verdana;
    text-shadow: 4px 4px 4px white;
    font-size: 30px;

    border: 3px solid #8B4513;   
    width: max-content;           
    margin: 10px auto;          
    padding: 10px 10px 15px;

    animation: movimentar 3.5s infinite;
}
    @keyframes movimentar{
       
        0%{
            transform: translateY(-10px);
        }
        50%{
            transform: translateY(0);
        }
        100%{
            transform: translateY(-10px)
        }
    }


.subtitulo{
    text-align: center;
    font-size: 22px;
    color: #6F4E37;
    margin-top: 15px;
}


.conteudo{
    max-width: 900px;
    margin: 40px auto;
}

.secoes{
    font-size: 35px;
    text-align: center;
    color: #5C3317;
    margin-bottom: 30px;
}

.card-menu{
    background: #fffaf0;
    border-left: 8px solid #8B4513;
    padding: 20px;
    margin: 20px 0;
    border-radius: 15px;
    box-shadow: 4px 4px 10px rgba(0,0,0,0.2);
    transition: 0.5s;
}

.card-menu:hover{
    transform: scale(1.03);
}

.card-menu h2{
    display: flex;
    justify-content: space-between;
    font-size: 28px;
    color: #8B4513;
}

.card-menu p{
    font-size: 20px;
    color: #6F4E37;
    margin-top: 10px;
}

.informacao{ 
    text-align: center;
    font-size:35px ;
    color:#8B4513;
    text-shadow: 2px 2px 2px yellow
}

.descricao{
    text-align: center;
    color: #6F4E37; 
    font-size: 30px;
}



.image{
    width: 220px;
    height: 180px;
    border-radius: 20px;
    object-fit: cover;
    border: 4px solid #8B4513;
    transition: 0.5s;
}

.image:hover{
    transform: translateY(-8px);
}

.imagens{
    display: flex;
    justify-content: center;
    gap: 20px;
    margin: 40px 0;
    flex-wrap: wrap;
}

#mensagemAvalia{
    text-align: center;
    font-size: 32px;
    color: #8B4513;
    margin-bottom: 10px;
    font-family: Verdana, sans-serif;
    text-shadow: 2px 2px 4px #d9b38c;
}

.estrelas{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 12px;
}
.estrelas span{
    
    font-size: 40px;
    cursor: pointer;
    transition: 0.3s;
  
}

.estrelas span:hover{
    transform: scale(1.2);
}


.avaliacao{
    text-align: center;
    margin: 40px auto;
    padding: 15px;
    background: #fffaf0;
    border-radius: 20px;
    width: 40%;
    box-shadow: 4px 4px 10px rgba(0,0,0,0.2);
}

#resultado{
    margin-top: 20px;
    font-size: 22px;
    color: #6F4E37;
    font-weight: bold;
    background: white;
    border-radius: 12px;
    border: 2px solid #8B4513;
    display: inline-block;
}


.rodape{
    display: flex;
    justify-content: space-between;
    align-items: center;


    text-align: center;
    color: #ffffff;
    background-color: #6F4E37;
    border-radius: 20px;
    margin: 0 auto  ;
    width: 55%;
    

}
